.DS_Store
venv/
.venv/
.gitignore
.idea
ATA/student_data
.env
.env_fe
# Ignore all files in data directory but keep the folder
data/*
# Keep the .gitkeep file to preserve the folder structure
!data/.gitkeep